* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body {
    margin: 0;
    padding: 0;
   
}

.navbar {
    display: flex;
    position: absolute;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    width: 100%;
   
}

.brand-title {
  font-weight: 300;
  margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;

}

.navbar-links li {
    list-style: none;
    text-align: center;
    
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}



.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.text{
    background-color:black;
    height: 700px;
    width: 100%;
}
.text2{
    background-color:white;
    height: 400px;
    width: 100%;
}
.box{
    height: 100px;
    width: 100px;
    border: 5px;
    border: black;
}
body {
    background-color:black;
}

 form {
    width: 400px;
   color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

form input {
    border: none;
    background: transparent;
    color: white;
}

form label {
    display: inline;
    font-weight: lighter;
    text-align: center;
}

.WIDTH {
    width: 400px;
}

button {
    padding: 5px 30px;
    border-radius: 0px;
}

.FORM {
    padding-left: 150px;
    text-align: center;
}

h1 {
    padding-left:150px;
    font-weight: 400;
    margin-top: 100px;
}

input[type=date]{ 
    color: transparent !important; 
} 
.active input[type=date]{ 
    color: inherit !important; 
}


